.canvasContainer {
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: "Open Sans", sans-serif;
}
.banner {
  background: #1a1a1a;
  padding: 15px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  border: 2px solid #2f4b67;
  border-radius: 15px;
}

.banner-item {
  font-family: 'Courier New', Courier, monospace;
  color: #4f8ac9;
  padding: 10px 20px;
  margin: 0 10px;
  display: inline-block;
  border-radius: 8px;
}

.banner-item:hover {
  background: #2f4b67;
}

.canvasContainer canvas {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}

.btn {
  font-family: "Open Sans", sans-serif;
}

.big-screen-button {
  margin: 0.25em;
  font-size: 1em;
}

.small-screen-button {
  border-color: white;
  border-width: 1px;
}

#playAgainButton {
  display: none;
}

#resetButton {
  visibility: hidden;
}

#copyBox {
  display: none;
}

.popup {
  display: none;
}

.chipIndicator {
  visibility: hidden;
  pointer-events: none; /* Prevent dragging */
}

#logo {
  pointer-events: none; /* Prevent dragging */
}

#loading {
  margin: 64px;
}

body {
  /* Prevent text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
  background: white;
  background: linear-gradient(-45deg, rgba(244, 255, 182, 0.9), rgba(200, 240, 255, 1));
}

.container {
  max-width: 85vh;

  background: white;
  padding: 1em;
  box-shadow: 0 0 256px 200px white;
}

.modal-footer {
  font-size: 10pt;
  justify-content: center;
}

#game-status {
  user-select: text;
}
